:css
  svg {
    background-color: #fff;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .bar {
    fill: steelblue;
  }
  .x.axis path {
    display: none;
  }

%h1
  Patent database statistics

%div
  :kramdown
    #{ render 'barchart' }

#chart
  = javascript_include_tag 'barchart'
