%h1 What is Patent View?

:kramdown
  Patent View is an API service exposing US patent grant information between the
  years 1975 and 2010 (soon to be 2012).

  While dozens or possibly hundreds of services present US patent data, these services
  typically limit patent views by controlling the number of page views, and by only
  delivering patent data via web pages. Many of these services exist primarily as a
  substrate for presenting targeted advertisements to searchers. In all, no current
  service offers patent data in a convenient form for an end user in the scientific
  or research communities.

  Patent View has been created specifically to support research on the US patent database.

  Patent View is a project of Lee Fleming, who has been working with patents in the
  context of innovation and inventor mobility for over a decade. Professor Fleming is
  currently the Faculty Director at the Coleman Fung Institute for Engineering Leadership
  at UC Berkeley.

