%h1 Frequently Asked Questions

:kramdown
  #### How can I help?

  All the source for the API server, and for the related inventor location and documentation
  applications are open source and on Github for convenience.

  #### Where is the source code?

  * [Patent API server](https://github.com/funginstitute/patentserver)
  * [API documentation](https://github.com/funginstitute/patentapidocs)
  * [Patent View location demo app](https://github.com/funginstitute/patentview)
