%h1 Privacy policy

:kramdown
  In short, we only collect anonymous information used for understanding traffic
  and usage flow through the website.

  We do not share or sell email addresses used for signup purposes.
