%h1 Terms of service

:kramdown
  The data provided by the API service is intended to be used for research purposes.

  However, we do not prohibit other uses of the data.

  We do reserve the right to deny service to any user, at any time, without disclosing
  reason for denial.
