@import "compass";
@import "bootstrap";
@import "global";
@import "pages";
@import "visualization";

body {
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 180px;
  width: 100%;
}

footer h4 {
  font-weight: normal;
  color: white;
}

.copyright {
  font-weight: normal;
  color: #ccc;
}
