body {
  padding-top: 60px;
  background-image: url(/assets/diagonal_waves.png);
}

.content {
  background: white;
  padding: 1em;
  @include box-sizing(border-box);
  @include border-radius(3px);
  @include box-shadow(0 2px 5px #AAA);
}

footer {
  margin-top: 1em;
}

.horizontal {
  @include horizontal-list;
}

.top_10 { margin-top: 10px; }
.top_20 { margin-top: 20px; }
.top_30 { margin-top: 30px; }
.top_40 { margin-top: 40px; }

.right_10 { margin-right: 10px; }
.right_20 { margin-right: 20px; }
.right_30 { margin-right: 30px; }
.right_40 { margin-right: 40px; }

.bottom_10 { margin-bottom: 10px; }
.bottom_20 { margin-bottom: 20px; }
.bottom_30 { margin-bottom: 30px; }
.bottom_40 { margin-bottom: 40px; }

.left_10 { margin-left: 10px; }
.left_20 { margin-left: 20px; }
.left_30 { margin-left: 30px; }
.left_40 { margin-left: 40px; }
