// Place all the styles related to the visualization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart {
  width: 900px;
  margin: auto;
  svg {
    display: inline;
    float: none;
    /* Needs to have auto margin to correctly
       float into center of enclosing #chart div.
     */
    margin-left: 100px;
  }
}
