%footer#footer
  .container
    #footer_content
      .row
        .span4
          .widget
            %h4 Interesting queries
            %ul.unstyled
              %li
                %a{:href => "http://patentserver.herokuapp.com/"} Stay tuned

        .span4
          .widget
            %h4 About PatentView
            %ul.unstyled
              %li
                %a{:href => "/about"} What is Patent API?
              %li
                %a{:href => "/faq"} FAQ
              %li
                %a{:href => "/contact"} Contact
              %li
                %a{:href => "/privacy"} Privacy Policy
              %li
                %a{:href => "/terms"} Terms of Use
        .span4
          .widget
            %h4 Stay Up To Date
            %ul.unstyled
              %li
                %a{:href => 'https://groups.google.com/forum/?fromgroups=#!forum/disambiguation'} Disambiguation discussion
              %li
                %a{:href => "http://funginstitute.berkeley.edu/"} Coleman Fung Institute
              %li
                %a{:href => "http://coe.berkeley.edu/"} Berkeley Engineering
              %li
                %a{:href => "http://www.berkeley.edu/"} UC Berkeley

      .row
        .span12.copyright
          %a.external_link{"data-no-turbolink" => "true", :href => "http://heroku.com/", :onclick => "_gaq.push(['_trackEvent', 'Affiliate Link', 'External Click', 'Hosted by Heroku']);", :rel => "nofollow", :target => "_blank"}
            %i.icon.icon-external-link.right_5>
            Hosted by Heroku
          |
          Designed/build by Dave Doolin and Adam Barber for The Coleman Fung Institute for Engineering Leadership - 2012-2013
